<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="bdart" class="in.ineuron.component.BlueDart"/>
<bean id="dtdc" class="in.ineuron.component.DTDC"/>
<bean id="fflight" class="in.ineuron.component.FirstFlight"/>








	<bean id="flpkrt" class="in.ineuron.component.Flipkart">
	
	<property name= "discount" value="24"/> 
	<property name= "courier" ref="fflight"/> 	
	</bean>

</beans>