<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="Student" class="in.ineuron.component.Student">

<constructor-arg index="0" value="10"/>
<constructor-arg index="1"  value="Sachin"/>
<constructor-arg index="2" value="MI"/>
<constructor-arg index="3" value="55.5F"/>


</bean>



</beans>